.homepage {
    background-image: url("../../public/Homepage.png");
    /* background-color: green; */
    background-repeat:no-repeat;
    background-size: contain;
    width: 100vw;
    height: 100vh;
}